services:
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: "no"
    env_file:
      - .env
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - internal_network

volumes:
  pgadmin_data:

networks:
  internal_network:
    external: true
